.content {

    &__container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0 -15px;

        @media(min-width:600px) {
            flex-direction: row;
            justify-content: space-around;
            flex-wrap: wrap;
            height: 100%;
            min-height: 380px;
        }
        @media(min-width:992px) {
            flex-direction: inherit;
            flex-wrap: nowrap;
        }
        &-column {  
            display: flex;

            @media(min-width:992px) {
                flex: 0 0 33.33333%;
                height: 100%;
            }

            &--footer {
                display: flex;
                width: 100%;
                height: 100%;

                @media(min-width:600px) {
                    flex: 0 0 50%;
                    max-width: 225px; 
                    height: 320px; 
                }
                @media(min-width:900px) {
                    flex: 0 0 25%;
                    height: 300px;  
                }
            }
            &--blog {
                @media(min-width:600px) {
                    display: none;
                }
                @media(min-width:992px) {
                    display: flex;  
                }
            }
        }   
    }
    
}